@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Medium.eot');
    src: url('../fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Medium.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Medium.woff') format('woff'),
        url('../fonts/subset-Roboto-Medium.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.eot');
    src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


.fill-first {
    
    background-color: #EEEFF1;
}

.container-header {
    width: 1110px;
    background-color: #EEEFF1;
    padding-top: 79px;
    margin-left: auto;
    margin-right: auto;
}

.list  {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26.25px;
    color: #000000;
    margin-bottom: 166px;
    margin-right: 42px;
    text-transform: uppercase;
    letter-spacing: 0.1em; 
}

.list.first {
    
    font-family: 'Roboto';
    font-weight: 500;

}


.list.last {
    margin-right: 0px;
}

.link.first {
    color: #34547A;
    text-decoration: none;
}

.link{
    color: #000000;
    text-decoration: none;
}
.title {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
   
    line-height: 78.75px;
   
    font-size: 48px;
    color: #000000;
    margin-bottom: 60px;
    
}

.description {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26.25px;
       
    width: 540px;
    margin-bottom: 60px;
       
}

.button {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    text-transform: uppercase;
   
    text-align: center;
    background-color: #34547A;
    border: 0px;
    color: #FFFFFF;
    width: 225px;
    
    padding: 25px 41px 25px 41px;
    font-size: 15px;
    margin-bottom: 146px;
       



}



.fill-second {
    background-color: #F9F9F9;
}









.container-about {
    background-color: #F9F9F9;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 119px;
    text-align: center;
}

.subject {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    line-height: 37px;   
    margin-bottom: 50px;
}

.description-about {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
    width: 540px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
       
}

.cont {
    background-color: #34547A;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100 px;
}
  
.container-project {
    vertical-align: top;
    display: inline-block;
    color: #FFFFFF;
    box-sizing: border-box;
}

.imag-first {  
    
   
    margin-right: 20px;  
    padding-top: 100px;
    padding-bottom: 100px;
}

.imag {
    margin-right: 20px;  
    padding-top: 100px;
    padding-bottom: 100px;
   
    height: 50PX;
}
.subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    
    margin-bottom: 10px;
    padding-top: 100px;
}

.description-project {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
    margin-right: 52px;
}

.description-project-last {
    margin-right: 0px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
}

.container-work {
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    text-align: center;
}

.caption {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    line-height: 37px;
    padding-top: 100px;
    margin-bottom: 50px;
   
}

.text {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
    width: 540px;
    margin-bottom: 57px;
    margin-left: auto;
    margin-right: auto;
}

.video {
    width: 1060px;
    height: 600px;
    margin-bottom: 100px;
}

.fill-third {
    background-color: #34547A;
   } 

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.headline {
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 130px;
    margin-bottom: 20px;
   
}

.text-last {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    width: 193px;
    
}
