* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Medium.eot');
    src: url('../fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Medium.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Medium.woff') format('woff'),
        url('../fonts/subset-Roboto-Medium.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.eot');
    src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


.list  {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    line-height: 26.25px;
    color: #000000;
    margin-bottom: 166px;
    margin-right: 42px;
    margin-top: 79px;
    text-transform: uppercase;
    letter-spacing: 0.1em;  
     
  
}

.list.first {
    margin-left: 399px;
    font-family: 'Roboto';
    font-weight: 500;
}


.list.last {
    margin-right: 0px;
}

.link.first {
    color: #34547A;
}

.link{
    color: #000000;
}
.title {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    width: 541px;
    line-height: 78.75px;
   
    font-size: 48px;
    color: #000000;
    margin-bottom: 60px;
    margin-left: 399px;
}

.description {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26.25px;
    margin-left: 400px;   
    width: 540px;
    margin-bottom: 60px;
       
}

.button {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 400px;
    text-align: center;
    background-color: #34547A;
    border: 0px;
    color: #FFFFFF;
    width: 225px;
    
    padding: 25px 41px 25px 41px;
    font-size: 15px;
    margin-bottom: 146px;
       



}

.container.header {
    width: 1920px;
   
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEFF1;
}

.container.about {
    background-color: #F9F9F9;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.subject {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-top: 119px;
    margin-left: 758px;
    margin-bottom: 50px;
    width: 403px;
}

.description.about {
    display: inline-block;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #727272;
  
    margin-left: 690px;   
    width: 540px;
    margin-bottom: 100px;
    text-align: center;
        
}

.container_project {
    background-color: #34547A;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    padding: 0;
    color: #FFFFFF;
    margin-right: 20px;
   
        
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    width: 36px;
    margin-bottom: 10px;
   
}

.description_project {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 71px;
    

}

.imag {
   
   
    width: 46.67px;
    height: 50PX;
}


.container_project.first {
    background-color: #34547A;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
   
    color: #FFFFFF;
    margin-left: 405px;
    margin-right: 20px;
    padding: 0;
}

.container_project.last {
    background-color: #34547A;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
   
    color: #FFFFFF;
    margin-right: 420px;
    padding: 0;
}