@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Medium.eot');
    src: url('../fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Medium.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Medium.woff') format('woff'),
        url('../fonts/subset-Roboto-Medium.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.eot');
    src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.fill-first {
    background-color: #EEEFF1;
}

.container-header {
    width: 1110px;
    background-color: #EEEFF1;
    padding-top: 79px;
    margin-left: auto;
    margin-right: auto;
}

.list  {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 166px;
}

.link-first {
    color: #34547A;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em; 
    font-size: 16px;
    line-height: 26px;
    margin-right: 42px;
}

.link{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-right: 42px;
    text-transform: uppercase;
    letter-spacing: 0.1em; 
    color: #000000;
    text-decoration: none;
}

.link-last {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-right: 42px;
    text-transform: uppercase;
    letter-spacing: 0.1em; 
    color: #000000;
    text-decoration: none;
    margin-right: 0px;
}

.title {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    line-height: 79px;
    font-size: 48px;
    color: #000000;
    margin-bottom: 60px;
}

.description {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26.25px; 
    width: 540px;
    margin-bottom: 60px;
}

.but {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: #34547A;
    color: #FFFFFF;
    padding: 25px 41px 25px 41px;
    font-size: 16px;
    Line-height: 26.25px;
    margin-bottom: 146px;
    letter-spacing: 0.1em;
}

.fill-second {
    background-color: #F9F9F9;
}

.container-about {
    background-color: #F9F9F9;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 119px;
    text-align: center;
}

.subject {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    line-height: 37.5px;   
    margin-bottom: 50px;
}

.description-about {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26.25px;
    width: 540px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;   
}

.fill-third {
    background-color: #34547A;
} 

.cont {
    background-color: #34547A;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100 px;
}
  
.container-project {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
}

.imag {
    margin-right: 20px;  
    padding-top: 100px;
    padding-bottom: 100px;
    height: 50px;
    width: 46.67px;
}
.subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24.61px;
    margin-bottom: 10px;
    padding-top: 100px;
    color: #FFFFFF;
}

.description-project {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-right: 52px;
    color: #FFFFFF;
}

.description-project-last {
    margin-right: 0px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.container-work {
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    text-align: center;
}

.caption {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    line-height: 37px;
    padding-top: 100px;
    margin-bottom: 50px;
}

.text {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26.25px;
    width: 540px;
    margin-bottom: 57px;
    margin-left: auto;
    margin-right: auto;
}

.video {
    width: 1060px;
    height: 600px;
    margin-bottom: 100px;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.headline {
    font-size: 21px;
    line-height: 24.61px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 50px;
}

.text-last {
    font-size: 13px;
    line-height: 21.33px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    padding-bottom: 50px;
}
